---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
}

const { title = "我哋講開", description = "用廣東話，由淺入深，暢談開源科技新聞，淺談技術細節" } = Astro.props;
---
<!doctype html>
<html lang="en" class="antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/images/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-white text-gray-900 min-h-screen">
		<div class="max-w-4xl mx-auto px-4 py-8 md:py-16">
			<slot />
		</div>
	</body>
</html>
